[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = ">=3.3.4"
numpy = ">=1.20.1"
pandas = ">=1.2.3"
scipy = ">=1.6.1"

[dev-packages]

[requires]
python_version = "3.9"
